<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i2f.dao.NotetDao">

	<resultMap id="beanMap" type="com.i2f.model.NotetBean">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="viceTitle" column="viceTitle"/>
		<result property="headImg" column="headImg"/>
		<result property="attachFile" column="attachFile"/>
		<result property="content" column="content"/>
		<result property="createDate" column="createDate"/>
		<result property="modifyDate" column="modifyDate"/>
		<result property="updateCount" column="updateCount"/>
		<result property="viewCount" column="viewCount"/>
	</resultMap>

	<select id="queryList" resultMap="beanMap">
		select 
			t1.id
			,t1.title
			,t1.viceTitle
			,t1.headImg
			,t1.attachFile
			,t1.content
			,t1.createDate
			,t1.modifyDate
			,t1.updateCount
			,t1.viewCount
		from notet t1

		<where>

			<if test="bean.id!=null">
				t1.id=#{bean.id}
			</if>
			<if test="bean.title!=null and bean.title!=''">
				t1.title=#{bean.title}
			</if>
			<if test="bean.viceTitle!=null and bean.viceTitle!=''">
				t1.viceTitle=#{bean.viceTitle}
			</if>
			<if test="bean.headImg!=null and bean.headImg!=''">
				t1.headImg=#{bean.headImg}
			</if>
			<if test="bean.attachFile!=null and bean.attachFile!=''">
				t1.attachFile=#{bean.attachFile}
			</if>
			<if test="bean.content!=null and bean.content!=''">
				t1.content=#{bean.content}
			</if>
			<if test="bean.createDate!=null">
				t1.createDate=#{bean.createDate}
			</if>
			<if test="bean.modifyDate!=null">
				t1.modifyDate=#{bean.modifyDate}
			</if>
			<if test="bean.updateCount!=null">
				t1.updateCount=#{bean.updateCount}
			</if>
			<if test="bean.viewCount!=null">
				t1.viewCount=#{bean.viewCount}
			</if>
		</where>
	</select>

	<insert id="insertList">
		insert into 
			notet (id , title , viceTitle , headImg , attachFile , content , createDate , modifyDate , updateCount , viewCount ) 
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.id} , #{item.title} , #{item.viceTitle} , #{item.headImg} , #{item.attachFile} , #{item.content} , #{item.createDate} , #{item.modifyDate} , #{item.updateCount} , #{item.viewCount})
		</foreach>
	</insert>

	<update id="updateOne">
		update notet
		set
		<trim suffixOverrides=",">
			<if test="bean.id!=null">
				id=#{bean.id}
			</if>
			<if test="bean.title!=null and bean.title!=''">
				title=#{bean.title}
			</if>
			<if test="bean.viceTitle!=null and bean.viceTitle!=''">
				viceTitle=#{bean.viceTitle}
			</if>
			<if test="bean.headImg!=null and bean.headImg!=''">
				headImg=#{bean.headImg}
			</if>
			<if test="bean.attachFile!=null and bean.attachFile!=''">
				attachFile=#{bean.attachFile}
			</if>
			<if test="bean.content!=null and bean.content!=''">
				content=#{bean.content}
			</if>
			<if test="bean.createDate!=null">
				createDate=#{bean.createDate}
			</if>
			<if test="bean.modifyDate!=null">
				modifyDate=#{bean.modifyDate}
			</if>
			<if test="bean.updateCount!=null">
				updateCount=#{bean.updateCount}
			</if>
			<if test="bean.viewCount!=null">
				viewCount=#{bean.viewCount}
			</if>
		</trim>
		where
			1!=1
	</update>

	<delete id="deleteOne">
		delete from notet
		where
			1!=1
	</delete>
</mapper>
