# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IDEA_ROOT\i2f-commons\.idea/dataSources/byte
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
